/* orange color: #e67e22 */

/* _________________________Full Body Manipulation __________________________*/
/*___________________________________________________________________________*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

html {
    background-color:#fff;
    color: #555555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

/* _________________________Reusable Stuff __________________________*/
/*___________________________________________________________________________*/
.row {
    margin: 0 auto;
    max-width: 1140px;
}

a:link,
a:visited {
    color: #e67e22;
    text-decoration: none;
    border-bottom: 1px solid #e67e22;
    padding-bottom: 2px
}

a:hover,
a:active {
    color: #555;
    border: 1px solid transparent;
    transition: border-bottom 0.2s, color 0.2s;
}

section {
    padding: 80px 0;

}

.long-copy {
    line-height: 145%;
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
}

.section-features .long-copy {
    padding-bottom: 30px;
}



.box {
    padding: 1%;

}

.box p {
    line-height: 145%;
    font-size: 90%;
}

.clearfix {zoom: 1}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
    
}

/* ----------------------------------------------------------------*/
/* icons */
/* ----------------------------------------------------------------*/

.icon-big {
    font-size: 350%;
    display: block;
    color: #e67e22;
    margin-bottom: 10px;
}

/* _________________________Headings __________________________*/
/*___________________________________________________________________________*/

h1, h2, h3 {
    font-weight: 300;
    margin-top: 10px;
    margin-bottom: 30px;
    text-transform: uppercase;
}

h1 {
    color: #fff;
    font-size:240%;
    letter-spacing: 1px;
    margin:10px 0 30px 0;
    padding: 0;
    word-spacing: 3px;
}

h2 {
    font-size: 180%;
    letter-spacing: 1px;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
}

h3 {
    font-size: 110%;
    margin-bottom: 15px;

}

h2:after {
    background-color: #e67e22;
    content: "";
    display: block;
    height: 2px;
    margin: 0 auto;
    margin-top: 30px;
    width: 250px;
}

/* _________________________Buttons __________________________*/
/*___________________________________________________________________________*/
.btn:link, 
.btn:visited {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    color: #fff;
    border-radius: 200px;
    transition: background-color 0.3s, border 0.3s, color 0.3s;
    margin-right: 15px;    
}

.btn-full:link, 
.btn-full:visited {
    background-color: #e67e22;
    border: 1px solid #e67e22;
}

.btn-ghost:link, 
.btn-ghost:visited {
    border: 1px solid #e67e22;
    color: #e67e22;
}
.btn-full:active,
.btn-full:hover {
    background-color: #cf6d17;
    border: 1px solid #cf6d17;
}

.btn-ghost:active,
.btn-ghost:hover {
    background-color: #cf6d17;
    border: 1px solid #cf6d17;
    color: #fff;
}


/* _________________________Header __________________________*/
/*___________________________________________________________________________*/

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.67), rgba(12, 9, 46, 0.67)), url(img/hero.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.hero-text-box {
    position: absolute;
    width: 85%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



.logo {
    float: left;
    height: 100px;
    margin-top: 20px;
    width: auto;
}

.main-nav {
    float: right;
    list-style: none;
    margin-left: 40px;
    margin-top: 55px;
    
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a {
    color: #fff;
    font-size: 90%;
    padding: 8px 0;
    text-decoration: none;
    text-transform: uppercase;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #e67e22;
    transition: border-bottom 0.3s;
}

/* ----------------------------------------------------------------*/
/* food images */
/* ----------------------------------------------------------------*/

.section-meals {
    padding: 0;
}

.meals-showcase {
    list-style: none;
    width: 100%;

}

.meals-showcase li {
    background-color: #000;
    display: block;
    float: left;
    width: 25%;
}

.meal-photo {
    width: 100%;
    margin: 0;
    overflow: hidden;

}

.meal-photo img {
    opacity: 0.7;

    width: 100%;
    height: auto;
    transform: scale(1.15);
}

.meal-photo img:hover {
    transform: scale(1.04);
    transition: transform 0.5s, opacity 0.5s;
    opacity: 1;
}

/* ----------------------------------------------------------------*/
/* How it works */
/* ----------------------------------------------------------------*/

.section-steps {
    background-color: #fafafa;
}


.steps-box {
 
}

.steps-box:first-child {
    text-align: right;
    padding-right: 3%;
    margin-top: 30px;
    
}

.steps-box:last-child {
    padding-left: 3%;
    margin-top: 70px;
    
       
}

.app-screen {
    width: 40%;
    
}

.works-step {
    margin-bottom: 50px;
    
}

.works-step div {
    color: #e67e22;
    border: 2px solid #e67e22;
    display: inline-block;
    border-radius: 50%;
    height: 55px;
    width: 55px;
    text-align: center;
    font-size: 150%;
    float: left;
    padding: 5px;
    margin-right: 15px;
}

.btn-app img {
    height: 50px;
    width: auto;
    margin-right: 10px;
}

.btn-app:link,
.btn-app:visited {
    border: 0;
}


.works-step:last-of-type {
    margin-bottom: 80px;
    
}

/* ----------------------------------------------------------------*/
/* Cities Section */
/* ----------------------------------------------------------------*/

.cities {
    line-height: 115%;

    /* secret to align text and icons*/

}

.cities i {
    margin: 0 auto;
    display: inline-block;
    float: left;
    margin-right: 5px;
    font-size: 120%;
    width: 30px;
    text-align: center;
    color: #e67e22;
}

.city-image {
    width: 100%;
    height: auto;
}

/* ----------------------------------------------------------------*/
/* Cities Section */
/* ----------------------------------------------------------------*/

.section-testimonials {
    background-image: linear-gradient(rgba(0, 0, 0, 0.85),rgba(1, 1, 8, 0.85)), url(/resources/css/img/back-customers.jpg) ;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
}

blockquote {
    padding: 2%;
    font-style: italic;
    line-height: 145%;
    position: relative;
    margin-top: 40px;
}

cite {
    display: block;
    font-size: 90%;
    margin-top: 25px;   

}

cite img {
    height: 45px;
    border-radius: 50%;
    margin-right: 15px;
    vertical-align: middle;
    
}

blockquote:before {
    content: "\201C";
    font-size: 500%;
    color: #e67e22;
    display: block;
    top: -5px;
    left: -3px;
    position: absolute;
    
    
    
}